# Groupby와 Dataframe합치기

In [1]:
import pandas as pd

In [4]:
movie = pd.read_csv('../data/movie.csv')
movie.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

# Groupby
특정 열을 기준으로 데이터셋을 그룹으로 묶어 집계함수를 사용하여 요약 정리한다.

In [5]:
# 컬러/흑백 으로 그룹을 나누고 imdb_score의 평균
movie.groupby('color')['imdb_score'].mean()

color
Black and White    7.216667
Color              6.405050
Name: imdb_score, dtype: float64

In [7]:
# 장르별 imdb_score의 평균을 내림차순으로 정렬하고 평균이 높은 5건을 출력
movie.groupby('genres')['imdb_score'].mean().sort_values(ascending=False).head(5)

genres
Action|Adventure|Crime|Drama|Sci-Fi|Thriller    8.8
Action|Adventure|Biography|Drama|History        8.6
Action|Drama|History|Thriller|War               8.5
Adventure|Animation|Drama|Family|Musical        8.5
Crime|Drama|Fantasy|Mystery                     8.5
Name: imdb_score, dtype: float64

# Dataframe 합치기
* concat()
* join()
* merge()

In [9]:
# 필요한 data를 csv에서 읽어들인다.
stock_info = pd.read_csv('../data/stock_info.csv')
s_2016 = pd.read_csv('../data/stocks_2016.csv')
s_2017 = pd.read_csv('../data/stocks_2017.csv')
s_2018 = pd.read_csv('../data/stocks_2018.csv')

In [12]:
# concat으로 수직 결합
pd.concat([s_2016,s_2017,s_2018])

  Symbol  Shares  Low  High
0   AAPL      80   95   110
1   TSLA      50   80   130
2    WMT      40   55    70
0   AAPL      50  120   140
1     GE     100   30    40
2    IBM      87   75    95
3    SLB      20   55    85
4    TXN     500   15    23
5   TSLA     100  100   300
0   AAPL      40  135   170
1   AMZN       8  900  1125
2   TSLA      50  220   400

In [13]:
pd.concat([s_2016,s_2017,s_2018], keys=['2016','2017','2018'])

       Symbol  Shares  Low  High
2016 0   AAPL      80   95   110
     1   TSLA      50   80   130
     2    WMT      40   55    70
2017 0   AAPL      50  120   140
     1     GE     100   30    40
     2    IBM      87   75    95
     3    SLB      20   55    85
     4    TXN     500   15    23
     5   TSLA     100  100   300
2018 0   AAPL      40  135   170
     1   AMZN       8  900  1125
     2   TSLA      50  220   400

In [14]:
# 수직 결합
pd.concat([s_2016, s_2017], axis=1)

  Symbol  Shares   Low   High Symbol  Shares  Low  High
0   AAPL    80.0  95.0  110.0   AAPL      50  120   140
1   TSLA    50.0  80.0  130.0     GE     100   30    40
2    WMT    40.0  55.0   70.0    IBM      87   75    95
3    NaN     NaN   NaN    NaN    SLB      20   55    85
4    NaN     NaN   NaN    NaN    TXN     500   15    23
5    NaN     NaN   NaN    NaN   TSLA     100  100   300

In [15]:
# join
stock_info.set_index('Symbol').join(s_2017.set_index('Symbol'))

                                            Name  Shares    Low   High
Symbol
AAPL                                   Apple Inc    50.0  120.0  140.0
TSLA                                   Tesla Inc   100.0  100.0  300.0
WMT                                  Walmart Inc     NaN    NaN    NaN
GE                              General Electric   100.0   30.0   40.0
IBM     IBM(International Bussiness Machines Co)    87.0   75.0   95.0
SLB                        Schlumberger Limited.    20.0   55.0   85.0
TXN               Texas Instruments Uncorporated   500.0   15.0   23.0
AMZN                              Amazon.com Inc     NaN    NaN    NaN

In [16]:
# merge
stock_info.merge(s_2016)

  Symbol         Name  Shares  Low  High
0   AAPL    Apple Inc      80   95   110
1   TSLA    Tesla Inc      50   80   130
2    WMT  Walmart Inc      40   55    70

In [17]:
stock_info.merge(s_2016, how="left")

  Symbol                                      Name  Shares   Low   High
0   AAPL                                 Apple Inc    80.0  95.0  110.0
1   TSLA                                 Tesla Inc    50.0  80.0  130.0
2    WMT                               Walmart Inc    40.0  55.0   70.0
3     GE                          General Electric     NaN   NaN    NaN
4    IBM  IBM(International Bussiness Machines Co)     NaN   NaN    NaN
5    SLB                     Schlumberger Limited.     NaN   NaN    NaN
6    TXN            Texas Instruments Uncorporated     NaN   NaN    NaN
7   AMZN                            Amazon.com Inc     NaN   NaN    NaN

# 실습하기

1. 다음과 같은 데이터프레임을 생성한다.

```
import pandas as pd
import numpy as np 
df = pd.DataFrame(dict(Gender=['M', 'F', 'M', 'F',
                               'F', 'M', 'M', np.nan],
                       State=['NY','IL', 'NY', 'CA',
                              'IL', 'CA', 'CA', 'IL'],
                       col_1=[10,20,30,np.nan,40,50,60,70],
                       col_2=[1,6,2,4,6,9,np.nan,3]))
```

2. 데이터프레임에서 'Gender'별 평균을 구하시오.

3. 데이터프레임에서 'Gender'별, 'State'별 평균을 구하시오.

4. 데이터프레임에서 'Gender'별, 'State'별 각 column의 최소, 최대 값을 구하시오.

5. 다음과 같은 데이터프레임을 생성하시오.
```
df1 = pd.DataFrame({
    'ID': [1001, 1002, 1003, 1004, 1005, 1006, 1007],
    'Name': ['Jane', 'James', 'Michel', 'Sam', 'Suji', 'Kurt', 'Julie']
})
df2 = pd.DataFrame({
    'ID': [1001, 1001, 1005, 1006, 1008, 1001],
    'Deposit': [10000, 20000, 15000, 5000, 100000, 30000]
})
```

6. merge 명령으로 위의 두 데이터프레임 df1, df2 를 수평으로 합쳐 출력하시오. ID 컬럼과 NO 컬럼을 기준으로 inner join을 수행하시오.

7. merge를 사용하여 df1, df2 를 join 하는데 full outer join으로 수행하시오.

8. merge 대신에 join 명령어를 사용하여 full outer join을 수행하시오.